###########################################
## Pixie16 Configuration File:           ##
##                                       ##
###########################################

### only ofr 1 crate for the moment

#Slot Number for Each Module
#This must start at 2 and proceed sequentially at the moment 
#  slot modID fpgaID
S   9    0      25
#S   3    1      25

##########################################################################################################
## FPGA Files ID                                                                                        ##
## F Y X File, where Y = fpgaID < 100                                                                   ##
##                   X = 0 (sys*.bin), 1 (fip*.bin), 2 (DSP*.ldr), 3 (DSP*.var),  4(*.set)              ##
## Use this to save various FPGA files or to use a mixed board system                                   ##
##########################################################################################################

#250MHz 16-bit
F       25       0       ./firmware/pixie16_revf_general_16b250m_35921_2017-01-09/firmware/syspixie16_revfgeneral_adc250mhz_r33339.bin
F       25       1       ./firmware/pixie16_revf_general_16b250m_35921_2017-01-09/firmware/fippixie16_revfgeneral_16b250m_r36563.bin
F       25       2       ./firmware/pixie16_revf_general_16b250m_35921_2017-01-09/dsp/Pixie16DSP_revfgeneral_16b250m_r35921.ldr
F       25       3       ./firmware/pixie16_revf_general_16b250m_35921_2017-01-09/dsp/Pixie16DSP_revfgeneral_16b250m_r35921.var
F       25       4       test_ryan.set

#250MHz 12-bit
F       12       0       /usr/opt/Pixie16/pixie16_revf_general_12b250m_41847_2019-05-18/firmware/syspixie16_revfgeneral_adc250mhz_r33339.bin
F       12       1       /usr/opt/Pixie16/pixie16_revf_general_12b250m_41847_2019-05-18/firmware/fippixie16_revfgeneral_12b250m_r42081.bin
F       12       2       /usr/opt/Pixie16/pixie16_revf_general_12b250m_41847_2019-05-18/dsp/Pixie16DSP_revfgeneral_12b250m_r41847.ldr
F       12       3       /usr/opt/Pixie16/pixie16_revf_general_12b250m_41847_2019-05-18/dsp/Pixie16DSP_revfgeneral_12b250m_r41847.var
F       12       4       test_ryan.set

########################################################################################################################
#120 space buffer limit 
########################################################################################################################

